<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'create.css' %}">
</head>

<body id="wrapper">
    <div>
        <h1>Hello {{user.first_name}}! Make a wish!</h1>
        <a href="/wishes">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
    {% if messages %}
    <ul style='color: red;' class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <fieldset>
        <form action="/create_wish" method="POST">
            {% csrf_token %}
            <p><label for="wish">I wish for:</label></p>
            <p><input type="text" name="wish_name"></p>
            <p><label for="description">Description:</label></p>
            <p><input type="textarea" name="wish_description"></p>
            <button type="reset">Cancel</button>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
</body>

</html>