<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stats.css' %}">

</head>

<body id="wrapper">
    <div>
        <h1>Hello {{user.first_name}}! These are your stats!</h1>
        <a href="/wishes">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
    <br>
    <div>
        <p>Total wishes granted so far for all users: {{total_wishes_granted | length}}</p>
    </div>
    <br>
    <div>
        <p>Your granted wishes: {{granted_wishes | length}}</p>
        <p>Your pending wishes: {{pending_wishes | length}}</p>
    </div>
</body>

</html>